html, body {
    padding-top: 2rem;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    flex: 1;
}

.container {
    margin-top: 20px;
    border-radius: 20px;
    flex: 1;
    }

    .card-text {
        position: relative;
        padding: 15px;
        background-color: #EEEEEE;
        border-radius: 10px; 
    }

.lab-image {
    border-radius: 15px; 
    width: 100%; 
    height: 300px;
    object-fit: cover; 
}
footer {
    flex-shrink: 0;
}


.card-deck{
        position: relative;
        margin: 10px;
}


.card .material-icons{
    color:#666666;
    font-size: 1rem;
}

.card .name{
    font-size: 0.8rem;
    font-weight:600;
}

.card .description{
    font-size: 0.7rem;
    margin: 0 -10px 0 -10px;
    font-weight: 300;
}


.custom-btn {
    width: 450px; /* atau nilai lain sesuai kebutuhan */
}

.custom-btn:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

}



