@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins',sans-serif;
}

.navbar{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
}

.navbar-nav .nav-link {
    position: relative;
    color: white;
    text-decoration: none;
    font-weight:400;
    overflow: hidden;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:focus::before {
    width: 100%; 
}


.nav-link .btn {
    margin-top: 6%;
}  

.nav-item {
    margin-right: 15px; 
}


.nav-item:last-child {
    margin-right: 0;
}


@media (max-width: 767px) {
    .nav-item {
        margin-right: 10px; 
    }
}